.session-logs__container {
  display: flex;
  flex: 0.6;
  margin-left: 20px;
  flex-direction: column;
  margin-bottom: 210px;
}

.session-logs__body {
  margin: auto;
  height: 100%;
  width: 100%;
}
