.session-logs__container {
  display: flex;
  flex: 0.6;
  margin-left: 20px;
  flex-direction: column;
  margin-bottom: 100px;
}

.session-logs__body {
  margin: auto;
  height: 100%;
  width: 100%;
}

.session-logs__container .tab-wrapper {
  width: 99%;
  margin: 5px;
}
