.session-info-card__wrapper {
  display: flex;
  padding-left: 15px;
  background-color: #f0f4f7;
  border-bottom: 1px solid #ced8e1;
  height: 110px;
  align-items: center;
  cursor: pointer;
}

.session-info-card__items {
  display: flex;
  flex-direction: column;
  flex: 0.9;
}

.session-info-card__details_wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.session-info-card__title {
  font-size: 12px;
  font-weight: 600;
}

.session-info-card__status {
  font-size: 13px;
  font-weight: 600;
}

.session-info-card__time {
  font-size: 10px;
  font-weight: 500;
  color: grey;
}

.session-info-card__status_icon {
  margin-left: auto;
  padding-right: 15px;
}

.session-info-card__platform,
.session-info-card__device_name {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: grey;
}

.session-info-card__platform .device-icon,
.session-info-card__device_name .device-icon {
  padding-right: 3px;
}

.session-info-card__platform img {
  height: 19px;
  width: 19px;
}

.session-info-card__device_name {
  font-size: 13px;
  font-weight: 400;
}

.session-info-card__device_name .MuiSvgIcon-root {
  height: 15px;
  width: 12px;
}

.session-info-card__wrapper.active {
  background-color: #abd2ed;
}

.session-info-card__item .entry {
  margin-right: auto;
}
