.session-list__container {
  display: flex;
  flex: 0.2;
  border: 1px solid #ced8e1;
  border-top: 0;
  flex-direction: column;
  flex: 0.2;
  min-width: 370px;
}

.session-list__header {
  height: 70px;
  position: sticky;
  border-bottom: 1px solid #ced8e1;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 600;
  background: #142433;
  color: #ffffff;
}

.session-list__header .MuiSvgIcon-root {
  padding-right: 5px;
}

.session-list__scrollConatiner {
  overflow: scroll;
  height: 100%;
  margin-bottom: 30px;
}

.session-list__message_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-list__message_text {
  font-size: 14px;
  font-weight: 600;
  color: #142433;
}

.session-list__padding-helper {
  height: 100px;
  width: 100%;
  background: transparent;
}

.session-list__filter_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.session-list__filter_count {
  margin-left: 10px;
  margin-top: 2px;
  width: 20px;
  height: 17px;
  text-align: center;
  font-weight: 700;
  background: rgb(221, 147, 11);
  border-radius: 50px;
}
