.session-list__container {
  display: flex;
  flex: 0.2;
  border: 1px solid #ced8e1;
  border-top: 0;
  flex-direction: column;
  flex: 0.2;
  min-width: 370px;
}

.session-list__header {
  height: 70px;
  border-bottom: 1px solid #ced8e1;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 600;
  background: #142433;
  color: #ffffff;
}

.session-list__header .MuiSvgIcon-root {
  padding-right: 5px;
}

.session-list__scrollConatiner {
  overflow: scroll;
  height: 100%;
  margin-bottom: 30px;
}

.session-list__padding-helper {
  height: 100px;
  width: 100%;
  background: transparent;
}
