.header__wrapper {
  border-bottom: 1px solid #ced8e1;
}

.header__container {
  width: 100%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
}

.header__container .MuiSvgIcon-root {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  margin-left: 5px;
}

.header__logo {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  padding-right: 20px;
}

.header__logo,
.header__search_container {
  padding-left: 5px;
  display: flex;
  height: 100%;
  align-items: center;
  border-right: 1px solid #ced8e1;
}

.header__search_container {
  background-color: #ffffff;
  border-right: 1px solid #ced8e1;
}

.header__search_container input {
  border: none;
  font-size: 14px;
  font-weight: 400;
  min-width: 500px;
  outline: none !important;
  height: 88%;
  padding-right: 5px;
}
