.session-details__header {
  width: 100%;
  min-height: 120px;
  background: #f9f9f9;
  border-bottom: 1px solid #ced8e1;
  display: flex;
}

.session-details__header_column {
  display: flex;
  width: auto;
  flex-direction: column;
  height: 100%;
  margin-right: 15px;
  padding-left: 20px;
  padding-top: 0;
}

.session-details__header_column_row {
  display: flex;
  padding-top: 12px;
  align-items: center;
}

.session-details__header_column_label {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(116, 114, 114);
}

.session-details__header_column_value {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.session-details__header_column_value_icon img {
  height: 19px;
  width: 19px;
  margin-right: 5px;
}
