.session-capabilities__container {
  margin-top: 20px;
  margin-bottom: 200px;
}
.session-capabilities__body {
  margin-top: 20px;
  margin-left: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.session-capabilities__entry {
  width: 100%;
  display: flex;
  margin: 5px;
  margin-top: 15px;
}

.session-capabilities__entry_label {
  min-width: 200px;
  font-weight: 600;
}

.session-capabilities__entry_value {
  flex-wrap: wrap;
}

.session-capabilities__entry_label,
.session-capabilities__entry_value {
  display: flex;
  word-break: break-all;
}
