.tab-wrapper {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center; /* align vertical */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.tab-header {
  font-size: 13px;
  font-weight: 600;
  min-width: 100px;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 20px;
  height: 47px;
  display: flex;
  align-content: center;
  align-items: center;
}
span {
  margin: auto;
}

.tab-header.active {
  border-bottom: 3px solid #0070f0;
  color: #0070f0;
}
