.session-details__wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: auto;
  padding-bottom: 30px;
}

.session-details__main_content {
  top: 100px;
  height: calc(100% - 120px);
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.session-details__action_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 5%;
  background: #142433;
  color: #ffffff;
}

.session-details__action_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.session-details__action_items:hover {
  color: #90bdf0;
}

.session-details__status_message_container {
  width: 95%;
  padding: 15px;
  padding-bottom: 2px;
  font-size: 12px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.session-details__status_message {
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 60px;
  overflow: scroll;
}

.session-details__status_message_container span {
  font-weight: 600;
}

.session-details__status_message_container.passed {
  border: 1px solid #0f720b;
  border-left: 5px solid #85e482;
}

.session-details__status_message_container.failed {
  border: 1px solid #ec9b82;
  border-left: 5px solid #ec9b82;
}
