.session-details__wrapper {
  display: flex;
  height: 100%;
  flex: 0.9;
  flex-direction: column;
  margin: auto;
  padding-bottom: 30px;
}

.session-details__main_content {
  top: 100px;
  height: calc(100% - 120px);
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: row;
}
