.session-debug-logs__wrapper {
  width: 100%;
  height: 100%;
}

.session-debug-logs__wrapper > .loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-debug-logs__filter_container {
  height: 50px;
  width: 100%;
  border: 1px solid #ced8e1;
}

.session-debug-logs__filter_wrapper {
  margin: 5px;
  margin-top: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-between;
}

.session-debug-logs__filter_container input {
  margin-left: 5px;
  border: none;
  width: 200px;
  border-bottom: 1px solid #aaacaf;
  outline: none !important;
  height: 25px;
}

.session-debug-logs__scroll_container {
  overflow: scroll;
  height: 100%;
  margin-bottom: 300px;
  border: 1px solid #e0e0e0;
}

.session-debug-logs__bottom_padding_container {
  height: 250px;
  width: 100%;
  background: transparent;
}

.session-test-log-title__right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 50px;
}
