.checkbox-wrapper {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.checkbox-wrapper input {
  margin-right: 10px;
  color: aquamarine;
}

.checkbox-wrapper label {
  font-size: 13px;
  font-weight: 600;
}

.checkbox-wrapper input,
.checkbox-wrapper label {
  cursor: pointer;
}
